<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Increase maxAllowedContentLength to 250MB (262,144,000 bytes) -->
        <requestLimits maxAllowedContentLength="262144000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
